<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    <Files .editorconfig>
        order allow,deny
        Deny from all
    </Files>
    <Files .env>
        order allow,deny
        Deny from all
    </Files>
    <Files .env.example>
        order allow,deny
        Deny from all
    </Files>
    <Files .gitattributes>
        order allow,deny
        Deny from all
    </Files>
    <Files .gitignore>
        order allow,deny
        Deny from all
    </Files>
    <Files .htaccess>
        order allow,deny
        Deny from all
    </Files>
    <Files .styleci.yml>
        order allow,deny
        Deny from all
    </Files>
    <Files artisan>
        order allow,deny
        Deny from all
    </Files>
    <Files composer.json>
        order allow,deny
        Deny from all
    </Files>
    <Files composer.lock>
        order allow,deny
        Deny from all
    </Files>
    <Files package-lock.json>
        order allow,deny
        Deny from all
    </Files>
    <Files package.json>
        order allow,deny
        Deny from all
    </Files>
    <Files phpunit.xml>
        order allow,deny
        Deny from all
    </Files>
    <Files README.md>
        order allow,deny
        Deny from all
    </Files>
    <Files webpack.mix.js>
        order allow,deny
        Deny from all
    </Files>
 
    # Prevent directory browsing
    Options -Indexes

    # Redirect trailing slashes if necessary
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization"
</IfModule>

# Caching of Static Assets
<IfModule mod_expires.c>
    ExpiresActive On
    
    # Images & Favicon
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    
    # Video
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/mpeg "access plus 1 year"
    
    # CSS, JavaScript
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    
    # Webmanifest
    ExpiresByType application/manifest+json "access plus 1 week"

    # Fonts
    ExpiresByType font/ttf "access plus 1 year"
    ExpiresByType font/otf "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    ExpiresByType application/font-woff "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    # 1 Year cache for images, videos, and fonts
    <FilesMatch "\.(jpg|jpeg|gif|png|webp|svg|ico|mp4|mpeg|ttf|otf|woff|woff2)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    
    # 1 Month cache for CSS & JS
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
    
    # 1 Week cache for webmanifest
    <FilesMatch "\.(webmanifest)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
</IfModule>
